*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: rgb(17 24 39 ); 
    font-family: 'Unifont','Fira Code',monospace;
}

a{
    text-decoration: none;
}


/* RULE AREA */

.area-utama{
    margin-top: 50px;
    padding: 0 33%;
    color: rgb(217 249 157 );
}

.rule-des h1{
    justify-content: center;
    text-align: center;
}

.rule-des ul{
    margin: 20px 0;
}

.rule-des ul li{
    list-style: none;
    color: aliceblue;
}

.rule-des-2 h1{
    justify-content: center;
    text-align: center;
}

.rule-des-2 p{
    margin: 2px 0;
    color: aliceblue;
}

.rule-des-2 h3{
    margin: 5px 0;
}


